* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif; 
}

.invoice_body {
    margin-top: 70px;
    padding-bottom: 150px;
    z-index: 1;
	background-color: #ffffff;
}

.header_row {
	margin-bottom: 30px;
	background-color: #f3f3f3;
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.main_heading {
	color: #000000;
	font-weight: 400;
}

.heading_options button {
	padding: 8px 10px;
	font-weight: 600;
	background-color: rgb(5, 218, 222);
	border: none;
	cursor: pointer;
}

.heading_options button:first-child {
	background-color: rgb(73, 223, 133);
}

.heading_options button:hover {
	background-color: rgb(6, 6, 6);
	color: white;
}

.heading_options .print_invoice {
	background-color: orange;
}

@media only screen and (max-width: 1000px) {
	.header_row {
		padding: 10px 25px;
	}
	.main_heading {
		font-size: 18px;
	}
}

@media only screen and (max-width: 780px) {
	.heading_options button {
		font-size: 12px;
		padding: 6px 8px;
	}
	.main_heading {
		font-size: 16px;
	}
}


.holds-the-iframe {
	display: block;
	margin: 200px auto 0 auto;
    width: 80px;
	aspect-ratio: 1/1;
	border-radius: 50%;
}

.invoice_iframe {
	display: none;
	margin: auto;
    width: 900px;
    height: 100vh;
    border: 10px solid rgb(229, 228, 228);
	background-color: rgb(251, 251, 251);
}

@media only screen and (max-width: 1000px) {
	.invoice_iframe {
		width: calc(100vw - 50px);
	}
}


