
.header_row {
    margin-top: 60px;
	background-color: #f3f3f3;
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.main_heading {
    font-size: 18px;
	color: #000000;
	font-weight: 400;
}

.heading_options button {
	padding: 8px 10px;
	font-weight: 600;
	background-color: rgb(5, 218, 222);
	border: none;
	cursor: pointer;
    display: none;
}

.heading_options button:first-child {
	background-color: rgb(73, 223, 133);
}

.heading_options button:hover {
	background-color: rgb(6, 6, 6);
	color: white;
}

.heading_options .print_invoice {
	background-color: orange;
}

@media only screen and (max-width: 1000px) {
	.header_row {
		padding: 10px 25px;
	}
	.main_heading {
		font-size: 18px;
	}
}

@media only screen and (max-width: 780px) {
	.heading_options button {
		font-size: 12px;
		padding: 6px 8px;
	}
	.main_heading {
		font-size: 16px;
	}
}

.main_qrcode_generator {
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding: 30px;
}

@media only screen and (max-width: 780px) {
    .main_qrcode_generator {
        justify-content: center;
    }
}

.qr_input_holder {
    border: 1px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.qr_output_holder {
    border: 1px solid rgb(255, 255, 255);
}

.qr_input_holder > div {
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.qr_input_holder > div > h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 5px;
}

.qr_input_holder > div > h3 > span {
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.options_container {
    margin-left: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.options_container.hide {
    display: none;
}

select {
    border: 1px solid rgb(201, 200, 200);
}
input {
    border: 1px solid rgb(201, 200, 200);
}

#qr_input {
    margin-bottom: 10px;
    width: 100%;
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#qr_logo_file {
    margin-bottom: 10px;
    padding: 10px 12px;
    display: inline;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    color: rgb(11, 11, 253);
}
#qr_logo_file::file-selector-button {
    padding: 8px 12px;
    background-color: rgb(121, 121, 246);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#qr_logo_file::file-selector-button:hover {
    background-color: rgb(96, 96, 245);
}

.logo_style_container input {
    text-align: center;
}

.rotation_gradient {
    width: 70px;
}
.color_card_parent {
    display: flex;
    gap: 20px;
}
.first_color_card,
.second_color_card {
    padding: 3px 3px 15px;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10%;
}
.first_color,
.second_color {
    width: 60px;
    height: 60px;
    border: none;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}
.first_color::-webkit-color-swatch,
.second_color::-webkit-color-swatch {
    border: none;
    border-radius: 10%;
}

.first_color::-moz-color-swatch,
.second_color::-moz-color-swatch {
    border: none;
    border-radius: 10%;
}

.gradient_type_select_container,
.rotation_container,
.second_color_card {
    display: none;
}

#logo_size,
#logo_outside_margin {
    width: 60px;
}

.genrate_qrcode_button {
    margin: auto;
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 8px 5px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(75, 75, 255);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.genrate_qrcode_button:hover {
    background-color: rgb(51, 51, 249);
}

.genrate_qrcode_button:active {
    background-color: rgb(19, 19, 251);
}

.qr_output_holder {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.qrcode_output {
    display: flex;
    justify-content: center;
}

#canvas {
    width: 200px;
    height: 200px;
    padding: 0px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

#canvas svg {
    width: 200px;
    height: 200px;
}

.size_of_qr_parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#qr_size {
    width: 60px;
    text-align: center;
}
.download_qr_parent {
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(67, 73, 249);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.download_qrcode {
    padding: 8px 5px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    color: rgb(67, 73, 249);
    cursor: pointer;
    border-right: 1px solid rgb(67, 73, 249);
}

.download_qrcode:hover {
    color: white;
    background-color: rgb(78, 84, 249);
    border-radius: 5px;
}

.download_qrcode:active {
    color: white;
    background-color: rgb(28, 35, 250);
}

.download_extension_select {
    padding: 8px 5px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: rgb(67, 73, 249);
    cursor: pointer;
}

.download_extension_select:focus {
    outline: none;
}