body {
    font-size: 0.9rem;
}

a {
    text-decoration: none;
}

.main_header {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;

}

.header {
    width: 100vw;
    height: 60px;
    padding: 0 40px 0 20px;
    border-bottom: 1px solid #e9e9e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.header .menu_and_site_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header .menu_icon {
    position: relative;
    width: 20px;
    height: 15px;
    display: flex;
    cursor: pointer;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    justify-content: center;
    align-items: center;
}
  
.header .menu_icon:after {
    position: absolute;
    content: ' ';
    height: 2px;
    width: 20px;
    background-color: #000000;
}

.pro-sidebar-logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    height: 25px;
}

.pro-sidebar-logo>img {
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}


.header .profile_icon {
    border: 1px solid rgb(236, 236, 236);
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.header .profile_icon span {
    font-size: 30px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    min-height: 100vh;
    transition: all .3s ease-in-out;
}

.sidebar.hide_sidebar {
    left: -350px;
}

.sidebar .closeSideBar {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.sidebar.hide_sidebar .closeSideBar {
    display: none;
}

.sidebar::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.sidebar:hover::-webkit-scrollbar-thumb {
    background-color: #1a4173;
}

.sidebar::-webkit-scrollbar {
    width: 6px;
    background-color: #0c1e35;
}

.sidebar .sidebar-layout {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #0c1e35;
}

.sidebar .sidebar-layout .sidebar-header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.sidebar-header .close_sidebar_icon {
    position: relative;
    width: 32px;
    height: 32px;
    opacity: .6;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.sidebar-header .close_sidebar_icon:hover {
    opacity: 1;
}

.sidebar-header .close_sidebar_icon:before,
.sidebar-header .close_sidebar_icon:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 28px;
    width: 2px;
    background-color: #c4d3f5;
}

.sidebar-header .close_sidebar_icon:before {
    transform: rotate(45deg);
}

.sidebar-header .close_sidebar_icon:after {
    transform: rotate(-45deg);
}

.main_header .sidebar .pro-sidebar-logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.main_header .sidebar .pro-sidebar-logo>div {
    width: 35px;
    min-width: 35px;
    height: 35px;
    min-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    background-color: #ff8100;
    margin-right: 10px;
}

.main_header .sidebar .pro-sidebar-logo>h5 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    line-height: 30px;
    transition: opacity 0.3s;
    opacity: 1;
}

.main_header .sidebar.collapsed .pro-sidebar-logo>h5 {
    opacity: 0;
}


.sidebar .sidebar-layout .sidebar-content {
    flex-grow: 1;
    padding: 10px 0;
}

.main_header .sidebar .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.main_header .sidebar .menu .menu-header {
    font-weight: 600;
    padding: 10px 25px;
    font-size: 0.8em;
    letter-spacing: 2px;
    transition: opacity 0.3s;
    color: #e9e6b16d;
    opacity: 1;
}

.main_header .sidebar .menu .menu-item a {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 20px 0 40px;
    color: #bfd8f897;
}

.main_header .sidebar .menu .menu-item a:hover .menu-title {
    color: #e1ecf5d8;
}

.main_header .sidebar .menu .menu-item a .menu-title {
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    transition: color 0.3s;
}

.main_header .sidebar .menu .menu-item a .menu-prefix,
.main_header .sidebar .menu .menu-item a .menu-suffix {
    display: inline-block;
    padding: 5px;
    opacity: 1;
    transition: opacity 0.3s;
}

.main_header .sidebar .menu .menu-item a:hover::after {
    border-color: #dee2ec !important;
}

.main_header .sidebar .menu .menu-item.sub-menu {
    position: relative;
}

.main_header .sidebar .menu .menu-item.sub-menu>a::after {
    content: "";
    transition: transform 0.3s;
    border-right: 2px solid currentcolor;
    border-bottom: 2px solid currentcolor;
    width: 5px;
    height: 5px;
    transform: rotate(-45deg);
}

.main_header .sidebar .menu .menu-item.sub-menu.open>a {
    color: #dee2ec;
}

.main_header .sidebar .menu .menu-item.sub-menu.open>a::after {
    transform: rotate(45deg);
}

.main_header .sidebar .menu .menu-item.active>a .menu-title {
    color: #dee2ec;
}

.main_header .sidebar .menu .menu-item.active>a::after {
    border-color: #dee2ec;
}

.main_header .sidebar.collapsed .menu>ul>.menu-header {
    opacity: 0;
}

.main_header .sidebar.collapsed .menu>ul>.menu-item>a .menu-prefix,
.main_header .sidebar.collapsed .menu>ul>.menu-item>a .menu-suffix {
    opacity: 0;
}

.main_header .sidebar.collapsed .menu>ul>.menu-item.sub-menu>a::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: currentcolor;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 50%;
    border: none;
    transform: translateY(-50%);
}

.main_header .sidebar.collapsed .menu>ul>.menu-item.sub-menu>a:hover::after {
    background-color: #dee2ec;
}

.main_header .sidebar.collapsed .menu>ul>.menu-item.sub-menu>.sub-menu-list {
    transition: none !important;
    width: 200px;
    margin-left: 3px !important;
    border-radius: 4px;
    display: block !important;
}

.main_header .sidebar.collapsed .menu>ul>.menu-item.active>a::after {
    background-color: #dee2ec;
}


.main_header .sidebar:not(.collapsed) .menu>ul>.sub-menu>.sub-menu-list {
    background-color: rgba(11, 26, 44, 0.6);
}

.main_header.rtl .sidebar .menu .menu-item.sub-menu>a::after {
    transform: rotate(135deg);
}

.main_header.rtl .sidebar .menu .menu-item.sub-menu.open>a::after {
    transform: rotate(45deg);
}

.main_header.rtl .sidebar.collapsed .menu>ul>.menu-item.sub-menu a::after {
    right: auto;
    left: 10px;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #6c757d;
}

.badge.primary {
    background-color: #ab2dff;
}

.badge.secondary {
    background-color: #079b0b;
}

.sidebar .sidebar-layout .sidebar-footer {
    height: 230px;
    min-height: 230px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}