
.main_qrcode_generator {
    margin: auto;
    margin-top: 60px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding: 0 30px;
}

.qr_input_holder {
    border: 1px solid rgb(255, 255, 255);
}

.qr_output_holder {
    border: 1px solid rgb(255, 255, 255);
}

.qr_input_heading,
.qr_logo_url_heading,
.qr_background_color_heading,
.qr_color_heading,
.choose_dots_type_heading {
    margin-top: 25px;
    font-size: 16px;
    font-weight: 500;
}

#qr_input,
#qr_logo_url {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#qr_logo_file {
    display: none;
}

.qr_logo_file_label {
    padding: 6px 12px;
    display: inline;
    border: 1px solid rgb(205, 205, 205);
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    color: rgb(11, 11, 253);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.qr_logo_file_label:hover {
    color: #ffffff;
    background-color: rgb(97, 97, 243);
}

.qr_logo_file_label span {
    font-size: 20px;
    vertical-align: middle;
}

#qr_input:focus,
#qr_logo_url:focus {
    outline-color: rgb(177, 177, 177);
}

#qr_background_color,
#qr_color {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    border: 0px solid rgb(225, 225, 225);
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

#qr_background_color::-webkit-color-swatch,
#qr_color::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

#qr_background_color::-moz-color-swatch,
#qr_color::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}

.qr_dots_options {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.qr_dots_options input,
.qr_dots_options label {
    cursor: pointer;
    font-weight: 500;
    padding-left: 5px;
}

.genrate_qrcode_button {
    display: block;
    margin-top: 60px;
    width: 50%;
    padding: 8px 5px;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(75, 75, 255);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.genrate_qrcode_button:hover {
    background-color: rgb(51, 51, 249);
}

.genrate_qrcode_button:focus {
    background-color: rgb(19, 19, 251);
}

.qr_output_holder {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.qrcode_output {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

#canvas {
    padding: 0px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.choose_extension_heading {
    font-size: 16px;
    font-weight: 500;
}

.qr_download_options form {
    margin-left: 10px;
}

.qr_download_options input,
.qr_download_options label {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}

.download_qrcode {
    padding: 8px 5px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background-color: rgb(249, 146, 67);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.download_qrcode:hover {
    background-color: rgb(246, 126, 35);
}

.download_qrcode:focus {
    background-color: rgb(233, 104, 5);
}